
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

@font-face {
    font-family: 'SofiaSEC';
    src: url('../../assets/font/Sofia_Sans_Extra_Condensed/SofiaSansExtraCondensed-ExtraBold.ttf') format('truetype');
  }

.sofia{
    font-family: 'SofiaSEC', sans-serif;
}

.solway{
    font-family: "Solway", serif;
}
.stroke{
    text-shadow: 1px 1px 1px #000;
}
