
@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'SofiaSEC';
    src: url('../../assets/font/Sofia_Sans_Extra_Condensed/SofiaSansExtraCondensed-ExtraBold.ttf') format('truetype');
  }

@font-face {
    font-family: 'Ethnocentric';
    src: url('../../assets/font/Ethnocentric/ethnocentric\ rg.otf') format('opentype');
}

.sofia{
    font-family: 'SofiaSEC', sans-serif;
}

.solway{
    font-family: "Solway", serif;
}

.ethno{
    font-family: "Ethnocentric", serif;
}

.poppins{
    font-family: "Poppins", sans-serif;
    font-weight: 450;
    font-style: normal;
}

.poppins-extrabold{
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    font-style: normal;
}

.stroke{
    text-shadow: 1px 1px 1px #000;
}

.stroke-col{
    text-shadow: 2px 2px 5px #b2d7d0;
}



#welcometext{
    height: 10vw;
    width: 80vw;
    stroke-dasharray: 3000;
    animation: 5s fillSvg linear;
}

@keyframes fillSvg {
    0%{
        stroke-dashoffset: 3000;
    }
    100%{
        stroke-dashoffset: 0;
    }
}