.textcolor{
    color: #002f26;

}
.lightcolor:hover{
    color:#002f26;
}
.lightcolor{
    color: #004040;
}
.lightcolor {
  position: relative;
}

.lightcolor::before {

  content: "";
  position: absolute;
  margin:0;
  width: 0;
  height: 2.6px;
  background-color: #333; 
  bottom: 0;
  left: 0;
  transform:translateY(-11px);
  transition: width 0.3s ease-in-out;
}

.lightcolor:hover::before {
  width: 100%;
}

@font-face {
    font-family: 'SofiaSEC';
    src: url('../../assets/font/Sofia_Sans_Extra_Condensed/SofiaSansExtraCondensed-ExtraBold.ttf') format('truetype');
  }

.header{
    font-family: 'SofiaSEC', sans-serif;
}