.carousel {
  margin-top:8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw; /* 80% of the viewport width */
    height: 60vw; /* 60% of the viewport height */

    @media (min-width: 1024px) {
      width: 70vw;
      height: 50vw;
    }
  }
  
  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }
  
  .slide-hidden {
    display: none;
  }
  
  .arrow {
    position: absolute;
    filter: drop-shadow(1px 1px 5px #002f26);
    width: 2rem;
    height: 2rem;
    color: #b2d7d0;
    transition:transform 0.25s;
    transform:scale(1);
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-left {
    left: 1.2rem;
  }
  .arrow:hover{
    transform:scale(1.5);
  }
  
  .arrow-right {
    right: 1.2rem;
  }
  
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .indicator {
    background-color: #b2d7d0;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 10px #a6c0bb;
    margin: 0 0.2rem;
    cursor: pointer;
    transition:transform 0.3s;
    transform:scale(1);
  }
  .indicator:hover{
    transform:scale(1.3);
  }
  
  .indicator-inactive {
    background-color: #004040;
  }