@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  background-image: url('./assets/bgnlcomp.png');
  background-size:cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center ;
  background-attachment: fixed;
  overflow-x: hidden;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
::-webkit-scrollbar{
  width:8px;
}
::-webkit-scrollbar-track{
  background:nonce;

}
::-webkit-scrollbar-thumb{
  background:#002F26;
  border-radius:10px;
  
  background-clip:content-box;
  height:5px;
}