.slider-container {
   width:60%;
    height: 500px; 
    margin: 40px auto;
  }
  .slide{
    margin:10px
  }
  @media (max-width: 600px) {
    .slider-container {
      width: 100%; /* set the width to 100% on smaller screens */
    }
    .slider-slide {
      width: 100% !important; /* override the slider's slide width */
    }
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
 
  
  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s; 
    border-radius:inherit;
  }
  
  .image-container:hover::before {
    opacity: 0.7; 
  }
  
  .image-container .heading {
     position: absolute;
    bottom: 0;
    left: 30%; 
    
    transform: translateX(-50%);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transform: translateY(60%); /* initially, the heading is at the bottom */
    transition: opacity 0.5s, transform 0.5s; /* add a transition effect for the heading */
  }
  
  .image-container:hover .heading {
    opacity: 1; /* show the heading on hover */
    transform: translateY(-30%); /* move the heading to the center */
  }