.slider-container {
   width:60%;
    height: 500px; 
    margin: 40px auto;
    
  }
  .slider-container {
    max-width: 100%; /* Make the slider container responsive */
    margin: 0 auto; /* Center the slider container */
  }
  
  .image-container {
    width: 100%; /* Make the image container responsive */
    /* Make the image container responsive */
    object-fit: cover; /* Make the image cover the entire container */
  }
  
  .image-container img {
    width: 100%; /* Make the image responsive */
     /* Make the image responsive */
    object-fit: cover; /* Make the image cover the entire container */
  }
  .slide{
    margin:10px
  }
  